.card:hover{
    
    box-shadow: 0px 0px 5px 0px;

}
.card{
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* box-shadow: 0px 0px 5px 0px; */
    border-radius: 8px;
}