*{
    margin: 0px;
    padding:0%;
    /* text-align: justify; */
}
.container { 
    scroll-behavior: smooth;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px; 
    text-wrap: balance;
    box-sizing: border-box;
    padding: 100px 10px;
}
.container img {
    width: auto;
    height:  250px;
    object-fit: cover;
    border-radius: 8px; /* Optional: Adds rounded corners to the images */
}